// @import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

$title-font: 'Rubik', sans-serif;
$content-font: 'Karla', sans-serif;

$big-font-size: 4rem;
$base-font-size: 1rem;
