@import 'colors.scss';
@import 'fonts.scss';
@import 'transitions.scss';

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --light-secondary-color: #{lighten($secondary-color, 30%)};
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;

  body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: $dark-color;
    font-family: $content-font;
    color: $light-color;
    font-size: small;

    h1, h2, h3, h4, h5, h6, nav {
      font-family: $title-font;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5rem;
      transition: all $t-duration $t-timing-function;
      color: var(--primary-color);
    }

    strong {
      transition: all $t-duration $t-timing-function;
      color: var(--secondary-color);
    }

    em {
      transition: all $t-duration $t-timing-function;
      color: var(--light-secondary-color);
    }

    .color-hover {
      .inline-icon {
        max-height: 0.7rem;
        position: relative;
        bottom: -1px;
        transition: all $t-duration $t-timing-function;
        filter: grayscale(1);
      }

      &:hover .inline-icon {
        filter: grayscale(0);
      }
    }

    ul.specific-padding-ul {
      padding-left: 13px;

      li {
        margin-bottom: 5px;
      }
    }

    .subtle {
      opacity: 0.2;
    }

    p a, h1 a, .link-style {
      cursor: pointer;
      box-shadow: inset 0 -1px var(--secondary-color);
      transition: all $t-duration $t-timing-function;
      text-decoration: none;
      color: inherit;

      &:hover, &.active-mutation-link {
        color: $light-color;
        box-shadow: inset 0 -2rem var(--secondary-color);
      }
    }
  }
}
